[submodule "mobile"]
	path = mobile
	url = https://github.com/lazarobodevan/Fairy-mobile

[submodule "green_cart_producer_mobile"]
	path = mobile-producer
	url = https://github.com/lazarobodevan/green_cart_producer_mobile